.env
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.mypy_cache/
.pytest_cache/
.vscode/
.idea/
.DS_Store
*.log
*.sqlite3
*.db
*.pkl
*.bin
chatbot/
NHỚ CHẠY BẰNG ENV PYTHON.txt
